
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<a href="/admin/product">
    <h1>
        Product
    </h1>
</a>

<a href="/home">
    <h1>
        User
    </h1>
</a>

